nav {
  margin-block: 2rem;
}

nav ul {
  display: flex;
  gap: 4rem;
}

nav ul li {
  list-style: none;
}

nav a {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
}

nav a.active {
  font-weight: 700;
}

nav a:visited {
  color: var(--dark);
}

nav span {
  position: absolute;
  left: -2rem;
  top: calc(50% - 0.75rem);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: var(--primary);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
